body{
    font-family: 'vazirmatn','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

.container{
    margin: 1rem auto;
    padding: 0 1rem;
}

.app-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #179f5b;
    border-radius: 1rem;
    padding: 0 0.5rem;
    margin-block-end: 2rem;
    gap: 0.275rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#logo{
    border-radius: 999rem;
    overflow: hidden;
}

#search-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 800px;
    height: 50px;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    background-color: #efeeee;
    
}

#search-container input{
    width: 770px;
    height: 30px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #efeeee;
}

#search-container input:focus-visible{
    outline: none;
}

.user-setting{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 300px;
    padding: 0 0.5rem;
}

.user-setting button{
    border-radius: 0.5rem;
}

#notification,
#login, #cart{
    display: flex;
    justify-content: center;
    align-items: center;
}

#notification{
    padding-inline-end: 0.5rem;
    border-inline-end: 1px solid #afafaf;
}

#cart{
    padding-inline-start: 0.5rem;
    border-inline-start: 1px solid #afafaf;
}

#notification button{
    padding: 0.2rem 0.5rem;
}

#cart button{
    padding: 0.2rem 0.5rem;
}

#login button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2rem 0.3rem;
}

.user-setting button:hover{
    background-color: rgba(23, 159, 91, 0.25);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.product-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-picture{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    border-inline-end: 1px solid #179f5b;
}

.product-dicription{
    padding: 1rem;
}

.product-topic{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block-end: 2rem;
}

.product-topic h1{
    font-size: 18px;
    font-weight: 800;
}

.product-topic h2{
    font-size: 14px;
    color: #afafaf;
}

.feature-topic{
    margin-block-end: 0.5rem;
}

.feature-topic p{
    font-weight: 500;
}

.feature-list{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    padding: 0.5rem;
    
}

.feature-list li{
    background-color: #ebebeb;
    padding: 1rem;
    border-radius: 1rem;
}

.feature-list li h5{
    font-size: 14px;
    color: #9d9d9d;
}

.feature-list li p{
    font-size: 12px;
}

.cart-elements{
    width: 200px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #179f5b;
    border-radius: 1rem;
    padding: 0.5rem;
}

.addcart-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #179f5b;
    border-radius: 0.5rem;
    width: 180px;
    height: 60px;
    padding-inline: 0.5rem;
}

.addcart-btn:hover{
    background-color: #137f49;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.addcart-btn p{
    color: #fff;
    font-size: 14px;
}

.product-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-block: 0.5rem;
}

.product-status{
    width: 180px;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
    border-block-start: 1px solid #179f5b;
    padding: 0.5rem;
}

.product-status span{
    color: blue;
    font-size: 12px;
}

.product-offers{
    padding: 0.5rem;
    
}
.product-offers p{
    font-size: 12px;
    text-align: justify;
    text-justify: inter-word;
}

.product-offers li{
    margin-block-end: 0.5rem;
}

.l1 p{
    color: #ff0000;
    animation: offers 2s ease 0s infinite normal forwards;
}

.l2 p{
    color: #f45000;
}

.l3 p{
    color: #179f5b;
}

.app-color,
.color-sign{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.2rem;
}

.app-color,
.color-plate{
    margin-block-end: 1rem;
}

.color-plate{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

#color{
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 999rem;
}

#black{
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 999rem;
}

#blue{
    width: 20px;
    height: 20px;
    background-color: #0167ff;
    border-radius: 999rem;
}

.app-footer{
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #179f5b;
    border-radius: 1rem;
    padding: 0 0.5rem;
    margin-block-start: 2rem;
    gap: 0.275rem;
    background-color: #179f5b;
}












